services:
  frontend:
    image: 127.0.0.1:5000/budget-tracker-frontend-dev:latest
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--spider", "--tries=1", "--no-check-certificate", "https://127.0.0.1:5173/"]
      interval: 30s
      timeout: 15s
      retries: 3
      start_period: 30s
    networks:
      - overlayNet
    environment:
      - VITE_API_URL=https://localhost:3000/
    volumes:
      - ./frontend/:/app
      - /app/node_modules/
    ports:
      - target: 5173
        published: 5173
        protocol: tcp
        # mode: host

  backend:
    image: 127.0.0.1:5000/budget-tracker-backend:latest
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "3000:3000"
    environment:
      - Port=3000
      - Address=0.0.0.0
      - NODE_ENV=test
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--spider", "--tries=1", "--no-check-certificate", "https://127.0.0.1:3000/health"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 1m
    volumes:
      - ./backend/cert/:/app/cert/:z
    networks:
      - overlayNet
    secrets:
      - redis_password
      - db_password
      - jwt_token

  database:
    image: mongo:latest 
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    secrets:
      - db_password
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD_FILE=/run/secrets/db_password
      - MONGO_INITDB_DATABASE=myapp
    healthcheck:
      test: echo "db.adminCommand('ping')" | mongosh localhost:27017 -u root -p $$(cat /run/secrets/db_password) --quiet || exit 1
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 1m
    ports:
      - "27017:27017"
    networks:
      - overlayNet
    volumes:
      - databaseTestData:/data/db

  redis:
    image: redis:8.2.1
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - target: 6379
        published: 6379
        protocol: tcp
        # mode: host
    secrets:
      - redis_password
    command: >
      sh -c "docker-entrypoint.sh --requirepass $$(cat /run/secrets/redis_password)"
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$$(cat /run/secrets/redis_password)", "PING"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 30s
    networks:
      - overlayNet
    volumes:
      - redisTestData:/data

networks:
  overlayNet:
    driver: overlay

volumes:
  databaseTestData:
  redisTestData:

secrets:
  db_password:
    file: dbPassword.local
  redis_password:
    file: redisPassword.local
  jwt_token:
    file: JWTToken.local
