apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: budget-tracker
spec:
  type: LoadBalancer
  selector:
    app: backend-app
  ports:
  - port: 3000
    targetPort: 3000

---

apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: budget-tracker
spec:
  type: LoadBalancer
  selector:
    app: frontend-app
  ports:
  - port: 443
    targetPort: 443

---

apiVersion: v1
kind: Service
metadata:
  name: redis-svc
  namespace: budget-tracker
spec:
  selector:
    app: redis
  ports:
  - port: 6379
    targetPort: 6379
