name: Backend Tests
on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    backend_tests:
        runs-on: ubuntu-latest
        env:
            NODE_ENV: test
        steps:
            - name: Checkout 
              uses: actions/checkout@v3
            
            - name: Install dependencies
              run: |
                sudo apt update -y && sudo apt upgrade -y
                sudo apt install docker

            - name: Run tests
              run: |
                cd ./backend
                npm run test